#container{
    float: left;
    height: 500px;
    width: 150px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(167, 167, 167);
}

#container table{
    margin-top: 10px;
}

#table3 tr td{
    background-image: url("../estourando_baloes/imagens/cronometro.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    height: 140px;
    width: 134px;
    text-align: center;
    padding-left: 7px;
}

#bg-imagem{
    background-image: url('../estourando_baloes/imagens/cenario.png');
    float: left;
    height: 521px;
    width: 580px;
    background-position: bottom;
    margin-left: 1px;
    border: 1px solid rgb(167, 167, 167);
    padding: 23px 2px 0px 15px ;
}

#crono{
    color: red;
    font-size: 28px;
}

#div-reiniciar p{
    padding-top: 5px;
    text-align: center;
    font-size: 19px;
}

#botao{
    margin-left: 24px;
    height: 80px;
}